/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base */
:root {
  --color-quotes: red;
  --blockquote: #a128a1;
  --headerOpacity: 1;
  --headerScale: 1;
  --fullGrid: 1 / 1 / -1 / -1;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 14px;
  line-height: 1.7em;
  background-color: black;
  color: white;
  /* This is a font-stack that tries to use the system-default sans-serifs first */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}
main h1,
main h2,
main h3, 
main p {
  margin: 1.5rem;
}

main {
  margin: 4rem auto;
}
/* Blockquote */

blockquote {
  border-left: 0.3rem solid var(--blockquote);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

blockquote:last-child {
  margin-bottom: 0;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
  color: var(--color-quotes);
}

q:after {
  content: close-quote;
  color: var(--color-quotes);
}

cite:before {
  content: "- ";
  font-style: oblique;
}

/* Typography */

b,
strong {
  font-weight: bold;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.75rem 0 1rem;
  font-weight: 100;
  line-height: 1.15;
  hyphens: none;
  font-weight: bolder;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

/* Head Banner */

header {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
}

.video-header {
  grid-template-rows: 100vh;
  background-color: transparent;
  /*background-color: rgba(216, 72, 72, 0.377);*/
}
.video-header,
.video-header video,
.viewport-header {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-area: var(--fullGrid);
}
.video-header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.viewport-header svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masthead-arrow {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.splash__overlay {
  background-color: black;
  margin: auto;
  width: 100%; /*width needs to be setup*/
  height: auto; /*height needs to be setup*/
  display: flex;
}

.splash__overlay .hero {
  z-index: 1;
  margin: auto;
  text-align: center;
}

main article {
  margin: 1.7em;
}

main article img {
  width: 100%;
  object-fit: cover;
}

/* Masthead Navigation */

a {
  fill: white;
}

a .active {
  fill: red;
}

.navigation svg {
  display: block;
  height: 36px;
  width: 36px;
  background-color: transparent;
  fill: inherit;
}

.navigation {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 64px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
}



#top__level-logo {
  z-index: 200;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
    will-change: transform;
  transition: transform 400ms;
}

#top__level-logo.is__pinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#branding__logo {
  height: 3em;
  fill: white;
}

.branding__logo-alt path {
  transform: matrix(1, 0, 0, 1, 0, 0);

}




/* Image */

img {
  width: 100%;
}

.lazy {
  opacity: 0;
  transition: opacity 300ms;
}

.lazy.is-loaded {
  opacity: 1;
}

figure,
figcaption {
  margin: 0%;
  padding: 0%;
}



main {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 20:25:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.z-depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5,
.modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.z-depth-misc {
  -webkit-box-shadow: 18px 19px 23px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 18px 19px 23px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 18px 19px 23px 0px rgba(50, 50, 50, 0.45);
}
